@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{flex:1
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  background-color: rgb(97, 127, 157);
  box-shadow: 0 2px 5px rgba(80, 3, 3, 0.1);
  gap: 15px;
 
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: rgb(97, 127, 157);
}
header .logo span {
  color: pink;
}
header img {
  max-width: 120px;
  height: auto;
  background-color: rgb(97, 127, 157);
  flex-shrink: 0;
}
.logo-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.logo-group p {
  font-size: 0.9rem;
  margin: 0px;
}
/*navigation bar*/
.navbar .navigation {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  background-color: #f6f5f3;
  padding: 20px;
  justify-content: center;
  border-bottom: #666 solid 1px;
  max-width: 100%;
  margin: 0 auto;
}
.navbar li {
  list-style-type: none;
}
.navbar li a {
  text-decoration: none;
  color: #814d4d;
  font-size: larger;
}
.navbar li a:hover {
  color: rgb(97, 127, 157);
}
/*home page*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #f6f5f3;
  justify-content: center;
}
.content img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px 0;
}
.content p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
/*about page*/
.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #f6f5f3;
  padding: 10px;
  margin: auto;
  max-width: 1200px;
  justify-content: center;
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}
.card img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: top center;
}

main {
  padding: 40px 20px;
  background-color: #f6f5f3;
}
/*pricing page*/
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
}
th {
  background-color: rgb(97, 127, 157);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

th,
td {
  text-align: center;
  padding: 12px 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

/*events section*/

.calendar-section {
  padding: 60px 20px;
  background-color: #f6f5f3;
  text-align: center;
}

.calendar-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.calendar-grid {
  display: grid;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.day {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 20px;
  align-items: center;
  transition: transform 0.2s ease;
}

.day:hover {
  transform: translateY(-5px);
}

.date {
  font-size: 36px;
  font-weight: bold;
  color: #b89f7a;
  min-width: 60px;
}
.event {
  text-align: left;
}

.event h4 {
  font-size: 18px;
}

.event p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}

/* Contact Page */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  background-color: #f6f5f3;
  padding: 10px;
}
.container h1 {
  text-align: center;
  margin-bottom: 0px;
}

.container p {
  text-align: center;
  margin-bottom: 30px;
}

.column2 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: left;
  width: 50%;
  margin-top: 60px;
  padding: 20px;
  vertical-align: middle;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column1,
.column2 {
  flex: 1 1 300px;
  padding: 20px;
}
.column1 h2 {
  font-size: 30px;
  font-family: "Playwrite AT", cursive;
  text-align: center;
}
.column1 p {
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
}

/*footer*/
.footer {
  background-color: rgb(97, 127, 157);
  color: white;
  text-align: center;
  padding: 20px;
  text-align: center;
}

.footer ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer ul li a {
  display: inline;
  text-align: center;
  color: white;
  margin: 10px;
  text-decoration: none;
}

